<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="col span-2-of-2">
            <ul class="social-links">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyright &copy; {{getCurrentYear}} by +PlusAnalytics. All rights reserved.
        </p>
    </div>
<script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
</footer>