<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <title>Plus Analytics</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    </head>
    <body>
        {{> header}}
        <p>{{welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>