<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Plus Analytics</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    </head>
    <body>
        {{> header}}
        {{> footer}}
    </body>
</html>