<!DOCTYPE html>
<html>
    <head>
        <title>Plus Analytics</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    </head>
    <body>
        {{> header}}
        <p>{{welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>