
/* ----------------------------------------------------  */
/* BASIC SETUP */
/* ----------------------------------------------------  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
}   

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------------  */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------  */

.row {
    max-width:1740px;
    margin: 0 auto 0 auto; 
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----------- Headings -------------- */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;   
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 100%;
    margin-bottom: 15px;
}

/* ------- Generic links -------- */

a:link,
a:visited {
    color: #777;
    text-decoration: none;
    padding-bottom: 1px;
    transition: border-bottom 0.35s, color 0.35s;
}

a:hover,
a:active {
    color: #eee;
}

/* ----------- Buttons ------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300; 
    text-decoration: none; 
    border-radius: 200px;
    transition: background-color 0.35s, border 0.35s, color 0.35s;
    font-size: 80%

}

.btn-full:link,
.btn-full:visited {
    background-color: #F9AE23;
    border: 1px solid #F9AE23;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #F9AE23;
    color: #F9AE23;
}

.btn:hover,
.btn:active
{
    background-color: #F6A12F;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #F6A12F;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #F6A12F;
    color: #fff;
}

/* ----------------------------------------------------  */
/* HEADER */
/* ----------------------------------------------------  */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(/images/american_football.png);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.sign-up a {
    position:relative;
    float:right;
    margin-right: 20px;
}   
 
.sign-in-bar {
    padding-top:1%;
    margin:right 20px;
}

.sign-in-bar img {
    width: 35%;
    height: auto;
    margin-left: 20px;
}

.hero-text-box {
    text-align: center;
    margin: 18%;
}

/* ----------------------------------------------------  */
/* FOOTER */
/* ----------------------------------------------------  */

footer {
    background-color: #444;
    float: bottom;
}


.social-links {
    float: right;
}

.footer-nav li {
    float: left;
    margin-left: 20px;   
    text-decoration: none;
    font-size: 75%;
    list-style-type: none;
}

.social-links li {
    float: left;
    text-decoration: none;
    margin: 0 6px;
    list-style-type: none;
}

.footer-copyright {
    text-align: center;
    font-size: 80%;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #777;
}