<section class=section-features>
    <div class="row">
        <div class="col span-1-of-3">
            <ion-icon name="options"></ion-icon>
            <h2>Pick Tracker</h2>
            <p class="feature-text">Some text</p>
        </div>
        <div class="col span-1-of-3">
            <ion-icon name="options"></ion-icon>
            <h2>Variable Stat Analysis</h2>
            <p class="feature-text">Some text</p>
        </div>
        <div class="col span-1-of-3">
            <ion-icon name="options"></ion-icon>
            <h2>Live upates</h2>
            <p class="feature-text">Some text</p>
        </div>
    </div>
</section>