<header>
    <div class="row">
        <div class ="sign-in-bar clearfix">
            <div class="col span-1-of-2">
                <img src="/images/plusanalytics-logo-transparent.png">
            </div>
            <div class="col span-1-of-2 sign-up">
                <a class="btn btn-ghost" href="#">Login</a>
                <a id="sign-up" class="btn btn-full" href="#">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="hero-text-box">
        <h1>Vegas can be defeated... <br> Plus Analytics coming soon.</h1>
    </div>
</header>